body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: transparent;
}



*,
::after,
::before {
  box-sizing: content-box
}



@font-face {
  font-family: 'OpenSans Light';
  src: url('./font/OpenSansCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url('./font/OpenSansCondensed-Bold.ttf') format('truetype');
}